.hr {
    border-top: 2px solid #ff6200;
    width:1000px;
  }
  .head{
      color:#ff6200;
  }
  .bord{
      margin-top:60px;
    border-style: solid;
    border-width: 10px;
    border-color:#ff6200 !important;
    padding: 50px;
  }
  .bu1{
    background-color: #ff6200;
    color:white;
    padding:5px;
    width: 150px;
  }
  .bu2{
    background-color: #ff6200;
    color:white;
    padding:5px;
    width: 80px;
    margin-left:20px;
  }